<section class="ftco-section bg-light" style="margin-top: 150px;">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h2>عروضنا</h2>
                <a  (click)="OpenAddOrEditOffer()" class="btn btn-secondary">تعديل</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>عرض التسجيلات</h2>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">إشتراك شهري</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.recordMonth}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">إشتراك لبقية السنة الدراسية</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.recordRestOfYear}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">إشتراك سنوي</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.recordYear}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>عرض الحصص المباشرة</h2>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">اشتراك شهري</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.liveMonth}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">إشتراك لبقية السنة الدراسية</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.liveRestOfYear}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated mb-4">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">إشتراك سنوي</span>
                        <span class="price"><sup>TND</sup> <span class="number">{{Offer.liveYear}}</span> <sub></sub></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
