<h2 dir="rtl" > عنوان الفرض: {{ExamenNom}} :  نموذج :{{prototypeExam?.nomPrototypeExam}}</h2>

<div class="form-wrapper" dir="rtl">
    <form *ngIf="EditPrototypeExamForm" [formGroup]="EditPrototypeExamForm" (ngSubmit)="onSubmit()" >
        <!-- Single Form Start -->
        <div class="single-form">
            <div class="p-field">
                <label for="nomPrototypeExam">عنوان نموذج الفرض</label>
                <input pInputText type="text" id="nomPrototypeExam" class="p-inputtext-lg" placeholder="عنوان نموذج الفرض" formControlName="nomPrototypeExam" />
            </div>
        </div>

        <div class="single-form">
            <label for="demo">نموذج الفرض</label>
            <input (change)="onFileSelectedPrototypeExamFile($event)" [multiple]="false" accept="application/pdf" type="file">
        </div>

        <div class="single-form">
            <label for="demo">إصلاح الفرض</label>
            <input (change)="onFileSelectedCorrectionFile($event)"  [multiple]="false" accept="application/pdf" type="file">
        </div>

        <div class="single-form">
            <div class="p-field">
                <label for="correctionLink">رابط فيديو الإصلاح</label>
                <textarea pInputTextarea id="correctionLink" class="p-inputtext-lg" placeholder="رابط فيديو الإصلاح" formControlName="correctionLink"></textarea>
            </div>
        </div>

        <div class="single-form" style="padding: 20px; border-radius: 5px; text-align: center;">
            <button class="btn btn-success btn-hover-dark w-100"
                type="submit"
                [disabled]="EditPrototypeExamForm.invalid"
            >تعديل</button>
        </div>
    </form>
</div>
