

<div class="form-wrapper">
    <form  [formGroup]="LessonForm" (ngSubmit)="OnSubmit()" >
        <!-- Single Form Start -->
        <div class="single-form">
            <div class="p-field">
                <label for="inputField">عنوان درس</label>
                <input pInputText type="text" id="inputField" class="p-inputtext-lg" placeholder="عنوان الفرض" formControlName="nomLesson" />
              </div>
        </div>

        <div class="single-form">
            <div class="p-field">
                <label for="inputField">رابط فيديو الإصلاح</label>
                <textarea pInputTextarea id="inputField" class="p-inputtext-lg" placeholder="رابط فيديو الإصلاح" formControlName="videoLien"></textarea>
            </div>
        </div>
        
        
        <div class="single-form">
            <div class="p-field">
                <label for="inputField">وصف الدرس</label>
                <textarea pInputTextarea id="inputField" class="p-inputtext-lg" placeholder="وصف الدرس" formControlName="description"></textarea>
            </div>
        </div>
        
        <div class="single-form">
            <label for="demo">المرفقات</label>
            <input (change)="onFilesSelectedPieceJointes($event)"  [multiple]="true" accept="application/pdf" type="file">
        </div>
        


        <div class="single-form" style="padding: 20px; border-radius: 5px; text-align: center;">
            <button class="btn btn-success btn-hover-dark w-100"
            type="submit"
            [disabled]="LessonForm.invalid"
            >إضافة</button>
        </div>
    </form>
</div>