
        <!-- Page Banner Start -->
        
        <!DOCTYPE html>
<html lang="en" dir="rtl">




<body>

        
        <div class="section page-banner">

            <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

            <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

            <div class="container">
                <!-- Page Banner Start -->
                <div class="page-banner-content">
                    <ul class="breadcrumb">
                        <li><a>الصفحة الرئيسية</a></li>
                        <li><a>{{matiere.nomMatiere}}</a></li>
                        <li class="active">الدروس</li>
                    </ul>
                    <h2 class="title"><span>  دروس مادة:  <br>{{matiere.nomMatiere}}</span></h2>
                </div>
                <!-- Page Banner End -->
            </div>

            <!-- Shape Icon Box Start -->
            <div class="shape-icon-box" style="justify-content: center; margin-left: -200px;">

                <img class="icon-shape-1 animation-left" src="assets/images/shape/shape-5.png" alt="Shape">

          

                <div class="icon-shape-1 animation-down" style="width: 1000px; height: 1000px; justify-content: center;">
               
                    <img  src="assets/images/Themes.png" alt="Shape">
                    

                </div>

                            </div>
            <!-- Shape Icon Box End -->

            <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">

        </div>
        <!-- Page Banner End -->

&nbsp;
<div class="page-content-wrapper">
    <div class="container-fluid custom-container">

     
        <!-- Admin Courses Tab Start -->
        <div class="admin-courses-tab" dir="ltr">
            <div class="courses-search search-2 " dir="ltr">
                <input [(ngModel)]="searchTerm" type="text" placeholder="البحث" required>
                <button (click)="findThemesSearch(searchTerm)" [disabled]="!searchTerm"><i class="icofont-search"></i></button>
              </div>
            <h1> 
             <ul class="breadcrumb">
             <li class="active"> كل دروس مادة :  {{ matiere?.nomMatiere }} </li>  
            </ul>
            </h1>

         
            <div class="courses-tab-wrapper">
           
              
                <div class="tab-btn">
                 
                  <a (click)="fetchThemes()" class="btn btn-primary btn-hover-dark">
                    
                    كل الدروس {{ "(" + Themes.length + ")" }}
                    </a>
                </div>
           
              </div>
              
            
        </div>

             <!-- Admin Courses Tab Content End -->
  

                <!-- Admin Courses Tab Content Start -->
                <div *ngFor="let theme of Themes ; let i = index" class="admin-courses-tab-content" dir="ltr">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
        
                            <!-- Courses Item Start -->
                            <div class="courses-item">
                        
        
                               <div class="content-box" style="margin-right: 40px   ;">
        
                                    <div class="content-box">
                                        <h3 style="color: green;">{{ formatNumber(i + 1) }}</h3>
                                    </div>
                                </div>

                            <div class="item-thumb">
                                </div>
        
                                <div class="content-title">
                                    <div class="meta">
                                        <a class="action">مقاطع فيديو</a>
                                        <a class="action">فروض</a>
                                        <a class="action">حصص مباشرة</a>
                                    </div>
                                    <h3 class="title"><a (click)="navigateToLesson(matiereId,theme.id)">{{theme.nomTheme}}</a></h3>
                                </div>
        
                          
                            </div>
                            <!-- Courses Item End -->
        
        
                        </div>
                   
                    
                    </div>
                </div>
         
                <!-- Admin Courses Tab Content End -->
                <h2 *ngIf="Themes.length == 0">{{notThemesFoundMessage}}</h2>


    </div>
</div>


</body>


</html>