.courses-tab-wrapper {
    display: flex;
    align-items: center;
  }
  
  .tab-btn {
    margin-left: auto; /* Push the .tab-btn to the right */
  }
  
  .courses-search {
    display: flex;
    align-items: center;
  }
  
  .courses-search input {
    margin-right: 5px; /* Adjust as needed */
  }
  