.rtl {
    direction: rtl;
    text-align: right;
}


.ltr {
 float:right;
}



label {
    color: green;
    font-weight: 100;
}

.phone-input {
    display: flex;
    align-items: center;
}

.country-code {
    padding-right: 5px;
}

  