




    <div class="main-wrapper">

   

        <!-- Register & Login Start -->
        <div class="section section-padding">
            
            <div class="container">

           

                <!-- Register & Login Wrapper Start -->
                <div class="register-login-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- <img  class="animation-down" src="assets/images/logo.png"> -->
                            <!-- Register & Login Images Start -->
                            <div class="register-login-images">
                                <div class="animation-up shape-2">
                                    
                                    <img src="assets/images/logo.png" alt="Shape">
                                </div>


                                <div class="images">
                                    <img src="assets/images/teacher3.png" alt="Register Login">
                                </div>
                            </div>
                            <!-- Register & Login Images End -->

                        </div>
                        <div class="col-lg-6">
                            <!-- <img  class="animation-down" src="assets/images/logo.png"> -->

                            <!-- Register & Login Form Start -->
                            <div class="register-login-form rtl">
                                <h3 class="title rtl">سجل الأن  <span> مجانا</span></h3>

                                <h3 class="text-muted rtl">   <span></span></h3>

                                <div class="form-wrapper">
                                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <label for="firstname">الاسم</label>
                                            <input type="text" placeholder="الاسم" formControlName="firstname"
                                            [ngClass]="{ 'is-invalid': f['firstname'].touched && f['firstname'].hasError('required') }"
                                            >
                                            <div *ngIf="f['firstname'].touched && f['firstname'].hasError('required')" class="invalid-feedback">
                                                الاسم مطلوب
                                            </div>

                                        </div>
                                        <!-- Single Form End -->
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <label for="lastname">اللقب</label>
                                            <input  type="text" placeholder="اللقب" formControlName="lastname"
                                            [ngClass]="{ 'is-invalid': f['lastname'].touched && f['lastname'].hasError('required') }">

                                            <div *ngIf="f['lastname'].touched && f['lastname'].hasError('required')" class="invalid-feedback">
                                                اللقب مطلوب
                                            </div>

                                        </div>
                                        
                                        <!-- Single Form End -->
                                        <!-- Single Form Start -->
                                        <div class="single-form">
                                            <label for="numtel">رقم الهاتف</label>
                                            <div class="phone-input">
                                                <input type="text" 
                                                    placeholder="+216" 
                                                    formControlName="numtel"
                                                    maxlength="8"
                                                    minlength="8"
                                                    pattern="[0-9]*"
                                                    [ngClass]="{ 'is-invalid': f['numtel'].touched && f['numtel'].hasError('required') || f['numtel'].hasError('invalidNumber') }"
                                                >
                                            </div>
                                            <div *ngIf="f['numtel'].touched && f['numtel'].hasError('required')" class="invalid-feedback">
                                                رقم الهاتف مطلوب
                                            </div>
                                            <div *ngIf="f['numtel'].hasError('invalidNumber')" class="invalid-feedback">
                                                يجب أن يحتوي رقم الهاتف على أرقام فقط
                                            </div>
                                        </div>
                                        
                                        <div style="color: red;" *ngIf="signupForm.get('numtel')?.hasError('minlength') && signupForm.get('numtel')?.touched">
                                            يجب أن يكون رقم الهاتف مؤلفًا من 8 أرقام
                                        </div>
                                        
                                        


                                                    <!-- Single Form End -->
                                                    <!-- Single Form Password Start -->
                                                    <div class="single-form">
                                                        <label for="password">كلمة السر</label>
                                                        <!-- <input
                                                        formControlName="password"
                                                        id="password"
                                                        placeholder="كلمة السر"
                                                        type="{{ showConfirmPassword ? 'text' : 'password' }}"
                                                        [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].hasError('required') }"
                                                        /> -->


                                                        <p-password
                                                        id="password"
                                                        placeholder="كلمة السر"
                                                        [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors }"
                                                        promptLabel="كلمة المرور"
                                                        formControlName="password"
                                                        [toggleMask]="true"
                                                        weakLabel="ضعيفة" mediumLabel="متوسطة التعقيد" strongLabel="كلمة مرور معقدة"
                                                        [style]="{'width':'100%'}"
                                                        ></p-password>
                                                  



                                                        <!----Password required Validator inside of the password input---->
                                                        <div *ngIf="f['password'].touched && f['password'].hasError('required')" class="invalid-feedback">
                                                        كلمة السر مطلوبة
                                                        </div>
                                                        
                                      
                                                    </div>
                                                    <div  style="color: red;" *ngIf="signupForm.hasError('passwordMismatch') && (signupForm.dirty || signupForm.touched)" >
                                                        كلمات السر غير متطابقة
                                                    </div>
                                                    <!----Password minLenght Validator inside of the password input---->
                                                <div> 
                                                    <div style="color: red;" *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched">
                                                        كلمة السر يجب أن تحتوي على الأقل على 8 أحرف
                                                    </div>
                                                </div>


                                                    <!-- Single Form Password End -->


                                                    
                                                    <!-- Single Form End -->

<!-- Single Form Confirm Password Start -->
<div class="single-form">
    <label for="confirmPassword">إعادة كلمة السر</label>
    <div class="input-group">
      <!-- <input
        type="{{ showConfirmPassword ? 'text' : 'password' }}"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': f['confirmPassword'].touched && f['confirmPassword'].errors }"
        id="confirmPassword"
        placeholder="إعادة كلمة السر"
      > -->


      <p-password
      id="confirmPassword"
      placeholder="إعادة كلمة السر"
      [ngClass]="{ 'is-invalid': f['confirmPassword'].touched && f['confirmPassword'].errors }"
      promptLabel="كلمة المرور"
      formControlName="confirmPassword"
      [toggleMask]="true"
      weakLabel="ضعيفة" mediumLabel="متوسطة التعقيد" strongLabel="كلمة مرور معقدة"
      [style]="{'width':'155%'}"
      ></p-password>

      <div  style="color: red;" *ngIf="signupForm.hasError('passwordMismatch') && (signupForm.dirty || signupForm.touched)" >
        كلمات السر غير متطابقة
    </div>



      <!-- <div class="input-group-append"> -->
     
    
        <!-- <button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPasswordVisibility() ; togglePasswordVisibility()" >
          <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button> -->
      <!-- </div> -->
    </div>
  
    <!-- Password required Validator inside of the confirmPassword input -->
    <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].hasError('required')" class="invalid-feedback">
      مطلوبة إعادة كلمة السر
    </div>

      
  </div>
  <!-- Single Form Confirm Password End -->
      







  


                                        
                <!-- Single Form Start -->
                <div class="single-form">
                    <label for="roles" style="display: block; margin-bottom: 5px;">إختيار المستوى التعليمي</label>
                    <div style="display: flex; flex-direction: column;">
                    <p-dropdown formControlName="roles" [options]="roles" optionLabel="displayName" placeholder="إختيار المستوى التعليمي" class="ng-dirty ng-invalid">
                    </p-dropdown>
                    </div>
                </div>
                <!-- Single Form End -->
  
                                        <!-- Single Form Start -->
                                        <div class="single-form" style="background-color: #d4edda; padding: 20px; border-radius: 5px; text-align: center;">
                                            <button class="btn btn-success btn-hover-dark w-100"
                                            type="submit"
                                            [disabled]="signupForm.invalid"
                                            >إنشاء الحساب</button>
                                        </div>
                                        <h3 style="margin-top: 10px;">هل لديك حساب؟ <a  href="/auth/login" style=" color: #28a745; border-color: #28a745;">تسجيل الدخول</a></h3>

                                        <!-- Single Form End -->

                                    </form>
                                </div>
                            </div>
                            <!-- Register & Login Form End -->

                        </div>
                    </div>
                </div>
                <!-- Register & Login Wrapper End -->

            </div>
        </div>
        <!-- Register & Login End -->

 




          
        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>



