        <!-- Page Banner Start -->
        
        <!DOCTYPE html>
<html lang="en" dir="rtl">




<body>

        
        <div class="section page-banner" style="height: 500px;">

            <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

            <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

            <div class="container">
                <!-- Page Banner Start -->
                <div class="page-banner-content">
                    <ul class="breadcrumb">
                        <li><a href="#">الصفحة الرئيسية</a></li>
                        <li class="active">المواد</li>
                    </ul>
                    <h2 class="title"><span>المواد</span></h2>
                </div>
                <!-- Page Banner End -->
            </div>

            <!-- Shape Icon Box Start -->
            <div class="shape-icon-box">

                <img class="icon-shape-1 animation-left" src="assets/images/shape/shape-5.png" alt="Shape">

          

                <div class="icon-shape-1 animation-down" style="width: 500px; height: 500px; justify-content: center;">
               
                    <img  src="assets/images/subjects.png" alt="Shape">
                
                </div>

            </div>
            <!-- Shape Icon Box End -->

            <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">


        </div>
        <!-- Page Banner End -->

        <!-- Courses Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Courses Category Wrapper Start  -->
                <div class="courses-category-wrapper">
                    <div class="courses-search search-2">
                        <input [(ngModel)]="searchTerm" type="text" placeholder="البحث" required>
                        <button (click)="getMatiereBynom(searchTerm)" [disabled]="!searchTerm"><i class="icofont-search"></i></button>
                      </div>
                      

                    <ul class="category-menu">
                        <li><a class="active" (click)="loadMatieres">كل المواد</a></li>
                    </ul>
                </div>
                <!-- Courses Category Wrapper End  -->

                <!-- Courses Wrapper Start  -->
                <div class="courses-wrapper-02">
                    <div class="row">
                        <h2 class="text-muted" *ngIf="matieres.length === 0">هذه المادة غير موجودة</h2>
                        <div *ngFor="let matiere of matieres" class="col-lg-4 col-md-3">

                            <!-- Single Courses Start -->
                            <div class="single-courses animation-down">
                                <div class="courses-images">
                                    <a (click)="navigateToThemeList(matiere.id)">
                                        <img height="250px" [src]="baseImageUrl+'/'+matiere.nomMatiere+'/'+ matiere.photo" alt="{{ matiere.nomMatiere }} Photo">
                                    </a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                            </div>
                                        </div>
                                    </div>
                                    <h2><a (click)="navigateToThemeList(matiere.id)">{{matiere.nomMatiere}}</a></h2>
                                    <div class="courses-rating">

                                        <div class="rating-meta">
                                            <span class="rating-star">
													<span class="rating-bar" style="width: 100%;"></span>
                                            </span>
                                            <p>التقيم</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->

                        </div>
                    </div>
                </div>
                <!-- Courses Wrapper End  -->

            </div>
        </div>
        <!-- Courses End -->



</body>


</html>