<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-table [value]="Students"  [rowHover]="true"
[tableStyle]="{'min-width': '60rem' }" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" 
[paginator]="true" >

    <ng-template pTemplate="caption">
        <button style="background-color: transparent; border: 0cap;">
            <i class="pi pi-spin pi-cog" style="font-size: 2rem ; color: green;"></i>
            </button>    
        <div class="text-center">
          <h2 style="color: green;">التلاميذ</h2>
          <div class="flex">
            <button
              (click)="getStudents()"
              style="border-radius: 80%;"
              pButton
              label="إلغاء البحث"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
            ></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
            <span class="p-input-icon-left ml-auto">
              <i></i>
              <input [(ngModel)]="searchTerm" type="text" required />
              <button
              (click)="onSearch()"
                [disabled]="!searchTerm"
                style="border-radius: 80%;"
              >
                <i class="icofont-search"></i>
              </button>
            </span>

          </div>
        </div>
      </ng-template>



    
    <ng-template pTemplate="header">
        <tr>
            <th >الصورة الشخصية</th>
            <th pSortableColumn="nomPrenom">
                <div class="sortable-header">الاسم واللقب
                  <p-sortIcon></p-sortIcon>
                </div>
            </th>      
            <th pSortableColumn="numeroTel">
                <div class="sortable-header">رقم الهاتف
                  <p-sortIcon></p-sortIcon>
                </div>
            </th> 
            <th>
                <div>المستوى
                </div>
              </th>
              
              
            <th>المحاسبات</th>
            <th></th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>
                <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden;">
             <p-image *ngIf="student.photo !==null" [preview]="true"  [src]="baseImageUrl+'/'+student.id+'/'+ student.photo" ></p-image>
             <p-image *ngIf="student.photo ===null" [preview]="true" src="assets/images/author/author-16.jpg" ></p-image>
    
            </div>
              </td>
              
             <td>{{student.nomPrenom}}</td>
            <td>{{student.numeroTel}}</td>
            <td>
                <span *ngFor="let role of student.roles; let last = last">
                  {{ role.displayName }}
                  <span *ngIf="!last">| </span>
                </span>
              </td>
             <td><a (click)="openModalComptabilite(student.id,student.nomPrenom,student.numeroTel)" style="background-color: transparent; border: 0cap;"><i class="pi pi-calculator"></i></a></td>
            <td >
                <p-button (onClick)="EditAppUserByIdComponent(student.id)"  severity="info" [text]="true"
                 label="تعديل بيانات المستخدم" icon="pi pi-user-edit"></p-button>
                &nbsp;
                <p-button  (onClick)="deleteUserById(student.id)" [text]="true" severity="danger"  label="حذف المستخدم" icon="pi pi-user-minus"></p-button>


            </td>      
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            .في المجموع هناك <a style="color: green;">{{ Students ? Students.length : 0 }} تلاميذ 
            </a>
        </div>
    </ng-template>
</p-table>