.rtl {
    direction: rtl;
    text-align: right;
}


.ltr {
 float:right;
}



.lesson-title {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Choose your preferred color */
    /* Add any other styling properties you desire */
  }
  