    <!-- Tab Description Start -->
    <div *ngIf="lesson$ | async as lesson">

    <div class="tab-description">

        <!----- Courses Details Start -->
                <div class="courses-details">

                    <div class="courses-details-images">
                        <div>
                            <video #myVideo controls width="800" height="500">
                              <source [src]="videoid" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                          
                          </div>
                        
                </div>

                    <div class="courses-details-admin rtl">
                        <div class="admin-author">
                            <div class="author-thumb">
                                <img src="assets/images/logo.png" alt="Author">
                            </div>
                            <div class="author-content">
                                &nbsp; &nbsp;
                                <a class="title">فسرلي</a>
                            </div>
                        </div>     
                    </div>
                    <h1 class="lesson-title rtl">عنوان المقطع : {{ lesson?.nomLesson }} </h1>

                    <div class="description-wrapper rtl" *ngIf="lesson.description">
                        <h3  class="tab-title">محتوى المقطع:</h3>
                        <p>{{lesson?.description}}</p>
                    </div>

                    <div class="description-wrapper rtl">
                    <div class="col-lg-5">
                    <div class="sidebar-widget rtl">
                        <h4 class="widget-title">المرفقات:</h4>

                        <ul class="social">
                            <a  title="مرفقات الدرس" *ngFor="let piecesJointe of lesson.piecesJointes , let i = index" title="مرفقات الدرس">
                                <a [href]="piecesJointe" download="{{ extractFileName(piecesJointe) }}" >
                                <i class="pi pi-file-pdf" style="font-size: 50px;"></i>
                                </a>
                                <span class="attachment-count">مرفق عدد {{ 1 + i }}</span>
                            </a>
                        </ul>

                    </div>
                    </div>
                    </div>
        
            <!-- Courses Details End -->

                </div>
                 </div>
                <!-- Tab Description End -->
                </div>