    <!-- Tab Description Start -->
    <div *ngIf="lesson$ | async as lesson">

    <div class="tab-description">

        <!----- Courses Details Start -->
                <div class="courses-details">

                    <div class="courses-details-images">
                        <iframe [src]="safeVideoUrl" width="800" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                </div>

                    <div class="courses-details-admin rtl">
                        <div class="admin-author">
                            <div class="author-thumb">
                                <img src="assets/images/logo.png" alt="Author">
                            </div>
                            <div class="author-content">
                                &nbsp; &nbsp;
                                <a class="title">فسرلي</a>
                            </div>
                        </div>     
                    </div>
                    <h1 class="lesson-title rtl">عنوان الدرس : {{ lesson.nomLesson }} </h1>

                    <div class="description-wrapper rtl">
                        <h3 class="tab-title">محتوى الدرس:</h3>
                        <p>{{lesson?.description}}</p>
                    </div>
                    <div class="description-wrapper rtl">
                    <div class="col-lg-5">
                    <div class="sidebar-widget rtl">
                        <h4 class="widget-title">المرفقات:</h4>

                        <ul class="social">
                            <a (click)="downloadPiecesJointes(themeId,lesson.id)" title="مرفقات الدرس">
                                <i class="pi pi-download" style="font-size: 24px;"></i>
                            </a>
                        </ul>
                    </div>
                    </div>
                    </div>
        
            <!-- Courses Details End -->

                </div>
                 </div>
                <!-- Tab Description End -->
                </div>