

<p-toast *ngIf="isAddExamen"></p-toast>
<div class="form-wrapper">
    <form  [formGroup]="ExamenForm" (ngSubmit)="OnSubmit()" >
        <!-- Single Form Start -->
        <div class="single-form">
            <div class="p-field">
                <label for="inputField">عنوان الفرض</label>
                <input pInputText type="text" id="inputField" class="p-inputtext-lg" placeholder="عنوان الفرض" formControlName="nomExamen" />
              </div>
        </div>
  

        <div class="single-form" style="padding: 20px; border-radius: 5px; text-align: center;">
            <button class="btn btn-success btn-hover-dark w-100"
            type="submit"
            >إضافة</button>
        </div>
    </form>
</div>