
<p-toast *ngIf="showConfirmationDialogExamen"></p-toast>
<p-confirmDialog *ngIf="showConfirmationDialogExamen"></p-confirmDialog>

<div class="container-lg">
    <div class="action-bar" style="justify-content: right;">
        <p-button 
            (onClick)="OpenCreateExamenAndAffectToMatiereComponent()" 
            icon="pi pi-plus" 
            severity="success" 
            label="إضافة فرض جديد" 
            [style]="{ 'font-size': '12px' }">
        </p-button>
    </div>
 &nbsp; 
 &nbsp;
 &nbsp;

    <p-table [value]="ExamenList"[rowHover]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'min-width': '60rem'}">
       
        <ng-template pTemplate="caption">
            <div class="flex">
                <button style="border-radius: 80%;" (click)="GetExamensMatiere(matiereId)" pButton label="إلغاء البحث" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <span class="p-input-icon-left ml-auto">
                    <i ></i>
                    <input [(ngModel)]="searchTerm" type="text" required>
                    <button style="border-radius: 80%; " (click)="SearchExamByNom(searchTerm)" [disabled]="!searchTerm"><i class="icofont-search"></i></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nomExamen" > <p-sortIcon ></p-sortIcon>عنوان الفرض</th>
                <th pSortableColumn="order" > <p-sortIcon ></p-sortIcon>ترتيب الفرض</th>

                <th>نماذج الفرض</th>
                <th>تعديل</th>
                <th>حذف الفرض</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-examen>
            <tr>
          
                <td>{{examen.nomExamen}}</td>
                <td>{{examen.order}}</td>

                <td (click)="OpenPrototypeExamByExamId(examen.id,examen.nomExamen)">
                  <p-button [text]="true" [raised]="true" severity="help" label="نماذج الفرض" ></p-button>
                </td>
                <td>
                    <p-button (onClick)="OpenEditExamenMatiereComponent(examen.id,examen.nomExamen)"  label="تعديل" icon="pi pi-pencil" [style]="{ 'font-size': '12px' }"></p-button>
                </td>
                <td>
                    <p-button (onClick)="deleteExam($event,examen.id)" label="حذف الفرض" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'font-size': '12px', 'margin-left': '.5em', 'margin-top': '.10em' }"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
