<p-toast></p-toast>
<p-confirmDialog *ngIf="showConfirmationDialogLesson"></p-confirmDialog>
<div class="card"  >
    <div class="action-bar" style="justify-content: right;" dir="rtl">
        <p-button 
            (onClick)="OpenAddLessonAndAffectToTheme()" 
            icon="pi pi-plus" 
            severity="success" 
            label="إضافة مقطع فيديو جديد لهذا الدرس" 
            [style]="{ 'font-size': '12px' }">
        </p-button>
    </div>
    &nbsp; 
    &nbsp;
    &nbsp;
    <p-progressBar [value]="downloadProgress" [style]="{ 'margin-top': '10px' }"></p-progressBar>
    <p-table [value]="LessonList" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"  [rowHover]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" >
        <ng-template pTemplate="caption" dir="rtl" >
            <div class="flex align-items-center justify-content-between">
               <h2 style="color: green;"> : مقاطع فيديو   </h2> {{this.nomTheme}}
            </div>
        </ng-template>
        <ng-template pTemplate="header"  >
            <tr>
                <th>عنوان مقطع فيديو</th>
                <th>الوصف</th>
                <th>مرفقات مقطع فيديو</th>
                <th>الاجراء</th>
            </tr>
        </ng-template>
  
  <!-- Use the ellipsis class for the description column -->
  <ng-template pTemplate="body" let-lesson>
    <tr>
      <td>{{ lesson.nomLesson }}</td>
      <td class="ellipsis" title="{{ lesson.description }}">{{ lesson.description }}</td>
      <td style="display: none;">{{ lesson.videoLien }}</td>
      <td>
        <div class="file-icons">
          <div *ngFor="let piecesJointe of lesson.piecesJointes" title="مرفقات الدرس">
              <a [href]="piecesJointe" download="{{ extractFileName(piecesJointe) }}">
                  <i class="pi pi-download" style="font-size: 24px;"></i>
              </a>
          </div>
      </div>      
      </td>
      
      <td>
        <p-button (onClick)="OpenEditLesson(lesson.id)"
          [style]="{'background-color': 'green', 'font-size': '12px'}" label="تعديل" icon="pi pi-pencil"></p-button>
        &nbsp;
        <p-button (onClick)="deleteLessonById(lesson.id)" [style]="{'background-color': 'red', 'font-size': '12px'}"
          label="حذف مقطع فيديو" icon="pi pi-trash"></p-button>
      </td>
    </tr>
  </ng-template>
  
  
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                عدد مقاطع فيديو هذا الدرس:  {{LessonList ? LessonList.length : 0 }} 
            </div>
        </ng-template>
    </p-table>
</div>