   
   <html>
   
   <!-- Page Banner Start -->
        <div class="section page-banner rtl" style="max-height: 400px !important;">

            <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

            <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

            <div class="container">
                <!-- Page Banner Start -->
                <div class="page-banner-content">
                    <ul class="breadcrumb">
                        <li><a>الصفحة الرئيسية</a></li>
                        <li><a>المادة</a></li>
                        <li>المحور</li>
                       <li class="active">
                        الدرس   
                        </li> 
                    </ul>
                    <h2 class="title"><span>الدرس :</span></h2>
                </div>
                <!-- Page Banner End -->
            </div>


            <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">


        </div>
        <!-- Page Banner End -->

        <!-- Courses Start -->
        <div class="section section-padding mt-n10">
            <div class="container">
                <div class="row gx-10">
                    <div class="col-lg-8">




                        <!-- Menu Bar Course Exam video -->
                        <div class="courses-details-tab">

                            <!-- Details Tab Menu Start -->
                            <div class="details-tab-menu">
                                <ul class="nav justify-content-center">
                                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#course">الدروس</button></li>
                                    <li><button data-bs-toggle="tab" data-bs-target="#exams">الفروض</button></li>
                                    <li><button data-bs-toggle="tab" data-bs-target="#livesessions">الحصص المباشرة</button></li>
                                </ul>
                            </div>
                            <!-- Details Tab Menu End -->

                            <!-- Video course -->
                            <div class="details-tab-content">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="course">

                                        <!-- Tab Description Start -->
                                        <div class="tab-description">
                                            <!-- <div class="description-wrapper">
                                                <h3 class="tab-title">Description:</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
                                            </div>
                              



                        <!-- Courses Details Start -->
                        <div class="courses-details">

                            <div class="courses-details-images">
                                <iframe [src]="safeVideoUrl" width="800" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                           </div>

                            <h1 class="title rtl">الدرس عدد 01 : التناظر </h1>

                            <div class="courses-details-admin rtl">
                                <div class="admin-author">
                                    <div class="author-thumb">
                                        <img src="assets/images/author/author-13.jpg" alt="Author">
                                    </div>
                                    <div class="author-content">
                                        &nbsp; &nbsp;
                                        <a class="title">Ilyes </a>
                                        <!-- <span class="Enroll">286 Enrolled Students</span> -->
                                    </div>
                                </div>
                                <!-- <div class="admin-rating">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
											<span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                    <span class="rating-text">(5,764 Rating)</span>
                                </div> -->

                                
                            </div>

                            <div class="description-wrapper rtl">
                                <h3 class="tab-title">محتوى الدرس:</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
                            </div>
                            <div class="description-wrapper rtl">
                            <div class="col-lg-5">
                            <div class="sidebar-widget rtl">
                                <h4 class="widget-title">المرفقات:</h4>

                                <ul class="social">
                                    <li title="File1"><a href="#"><i class="fas fa-file-pdf"></i></a></li>
                                    <li title="File1"><a href="#"><i class="fas fa-file-pdf"></i></a></li>
                                    <li title="File1"><a href="#"><i class="fas fa-file-pdf"></i></a></li>
                                    <li title="File1"><a href="#"><i class="fas fa-file-pdf"></i></a></li>
                                    <li title="File1"><a href="#"><i class="fas fa-file-pdf"></i></a></li>

                                </ul>
                            </div>
                            </div>
                            </div>
                            <!-- <div class="description-wrapper">
                                <h3 class="tab-title">Certification:</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
                            </div>  -->

                        </div>
                        <!-- Courses Details End -->


                                </div>
                                        <!-- Tab Description End -->

                                    </div>
                                    <div class="tab-pane fade" id="exams">

                                        <!-- Tab Instructors Start -->
                                        <div class="tab-instructors">
                                            <div class="engagement-courses table">

                                                <div class="courses-top">
                                                    <ul>
                                                        <li>الإصلاح</li>
                                                        <li>الفرض</li>
                                                        <li>الفروض</li>
                                                   
                                                    </ul>
                                                </div>
                    
                                                <div class="courses-list">
                                                    <ul>
                                                        <li>
                                                            <div class="courses">
                                                                <div class="thumb">
                                                                </div>
                                                                <div class="content" style="margin-left: 50px;">
                                                                    <h1 class="taught"><a> 
                                                                    <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                                    </a></h1>
                                                                </div>
                                                            </div>
                                                            <div class="taught">
                                                                <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                            </div>
                                                            <div class="student">
                                                                <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                            </div>
                                                            <div class="button">
                                                                <a class="btn">فرض عدد 01</a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="courses">
                                                                <div class="thumb">
                                                                </div>
                                                                <div class="content" style="margin-left: 50px;">
                                                                    <h1 class="taught"><a> 
                                                                    <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                                    </a></h1>
                                                                </div>
                                                            </div>
                                                            <div class="taught">
                                                                <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                            </div>
                                                            <div class="student">
                                                                <span><a title="File1" href="#"><i class="fas fa-file-pdf"></i></a></span>
                                                            </div>
                                                            <div class="button">
                                                                <a class="btn">فرض عدد 02</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                    
                                            </div>
                                        
                                        </div>
                                        <!-- Tab Instructors End -->

                                    </div>
                                    <div class="tab-pane fade" id="livesessions">

                                        <!-- Tab Reviews Start -->
                                        <div class="tab-reviews">
                                            <div class="col-md-4 rtl">
                                                
                                             <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'ar' }}</h2>

                                    </div>
                                            <div id="calendar-container">
                                            <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"
                                            locale="ar"
                                            >
                                            </mwl-calendar-month-view>                                                                                    

                                    </div>




                                            <div class="reviews-btn">
                                                <button type="button" class="btn btn-primary btn-hover-dark" data-bs-toggle="modal" data-bs-target="#reviewsModal">Write A Review</button>
                                            </div>

                                            <!-- Reviews Form Modal Start -->
                                            <div class="modal fade" id="reviewsModal">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add a Review</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <!-- Reviews Form Start -->
                                                        <div class="modal-body reviews-form">
                                                            <form action="#">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <!-- Single Form Start -->
                                                                        <div class="single-form">
                                                                            <input type="text" placeholder="Enter your name">
                                                                        </div>
                                                                        <!-- Single Form End -->
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <!-- Single Form Start -->
                                                                        <div class="single-form">
                                                                            <input type="text" placeholder="Enter your Email">
                                                                        </div>
                                                                        <!-- Single Form End -->
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <!-- Single Form Start -->
                                                                        <div class="reviews-rating">
                                                                            <label>Rating</label>
                                                                            <ul id="rating" class="rating">
                                                                                <li class="star" title='Poor' data-value='1'><i class="icofont-star"></i></li>
                                                                                <li class="star" title='Poor' data-value='2'><i class="icofont-star"></i></li>
                                                                                <li class="star" title='Poor' data-value='3'><i class="icofont-star"></i></li>
                                                                                <li class="star" title='Poor' data-value='4'><i class="icofont-star"></i></li>
                                                                                <li class="star" title='Poor' data-value='5'><i class="icofont-star"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                        <!-- Single Form End -->
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <!-- Single Form Start -->
                                                                        <div class="single-form">
                                                                            <textarea placeholder="Write your comments here"></textarea>
                                                                        </div>
                                                                        <!-- Single Form End -->
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <!-- Single Form Start -->
                                                                        <div class="single-form">
                                                                            <button class="btn btn-primary btn-hover-dark">Submit Review</button>
                                                                        </div>
                                                                        <!-- Single Form End -->
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- Reviews Form End -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Reviews Form Modal End -->

                                        </div>
                                        <!-- Tab Reviews End -->

                                    </div>
                                </div>
                            </div>
                            <!-- Video course -->

                        </div>
                        <!-- Courses Details Tab End -->


























                    </div>
                    <div class="col-lg-4">
                        <!-- Courses Details Sidebar Start -->
                        <div class="sidebar">

                            <!-- Sidebar Widget Information Start -->
                            <div class="sidebar-widget widget-information rtl" style="max-height: 600px; overflow-y: auto;">
                                <div class="info-price">
                                    <span class="price">:الدروس</span>
                                </div>
                                <div class="info-list">
                                    <ul>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 01 :</strong></a></li>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 02 :</strong></a></li>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 03 :</strong></a></li>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 04 :</strong></a></li>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 05 :</strong></a></li>
                                        <li><a href="#"><i class="icofont-book"></i> <strong>الدرس عدد 06 :</strong></a></li>
                                    </ul>
                                </div>
                                <div class="info-btn">
                                    <a href="#" class="btn btn-primary btn-hover-dark">تسجيل الحصة</a>
                                </div>
                            </div>
                            
                            <!-- Sidebar Widget Information End -->

                            <!-- Sidebar Widget Share Start -->
                            <!-- <div class="sidebar-widget">
                                <h4 class="widget-title">Share Course:</h4>

                                <ul class="social">
                                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="flaticon-skype"></i></a></li>
                                    <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div> -->
                            <!-- Sidebar Widget Share End -->

                        </div>
                        <!-- Courses Details Sidebar End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses End -->

        </html>