.rtl {
    direction: rtl;
    text-align: right;
}


.ltr {
 float:right;
}

.lesson-title {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Choose your preferred color */
    /* Add any other styling properties you desire */
  }
  

  .sidebar-widget.widget-information .info-list ul li.active {
    background-color: #f2f2f2; /* Set your desired background color for the active lesson */
    color: #333; /* Set your desired text color for the active lesson */
    font-weight: bold;
  }
  

  .hover-pointer {
    cursor: pointer;
  }
