.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  float: right;
}

.lesson-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.sidebar-widget.widget-information .info-list ul li.active {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.hover-pointer {
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
  .sidebar-widget.widget-information {
      height: auto;
      width: 100%;
      overflow-y: visible;
  }
}

@media (max-width: 767.98px) {
  .page-banner-content ul.breadcrumb {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .page-banner-content h2.title {
      text-align: center;
  }
  .details-tab-menu ul.nav {
      flex-direction: column;
      align-items: center;
  }
}
