<!-- <p>edit-theme works!</p>
{{idTheme}}

{{Theme?.nomTheme}} -->

<form (ngSubmit)="updateNameTheme(nameTheme,orderNumber)">
    <div class="single-form">
      <label for="inputField">إسم الدرس</label>
      <div class="p-field">
        <input pInputText
               type="text"
               id="inputField"
               name="nameTheme" 
               [(ngModel)]="nameTheme"
               class="p-inputtext-lg"
               placeholder="إسم الدرس" />
      </div>
    </div>

    <div class="single-form">
      <label for="inputField">ترتيب الدرس</label>
      <div class="p-field">
        <input pInputText
               type="text"
               id="inputField"
               name="orderNumber" 
               [(ngModel)]="orderNumber"
               class="p-inputtext-lg"
               placeholder="ترتيب الدرس" />
      </div>
    </div>
  
    <div class="single-form" style="padding: 10px; border-radius: 5px; text-align: center;">
      <button class="btn btn-success btn-hover-dark w-50" type="submit">تغيير</button>
    </div>
  </form>
  
  